
body {
    background-image: url(1.jpg.webp)
}
table {
    border: 2px solid blue;
    background-color: aqua;
    width: 1300px;
    height: 600px;
    margin: auto;
    text-align: center;
}

.head {
    background-color: purple;
}
img {
    border-radius: 50%;
    width: 100px;
}
h1 {
    text-align: center;
    color: yellow;
}